# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asn1crypto=0.24.0=pypi_0
attrs=19.1.0=pypi_0
automat=0.7.0=pypi_0
ca-certificates=2019.5.15=1
certifi=2019.6.16=py37_1
cffi=1.12.3=pypi_0
constantly=15.1.0=pypi_0
cryptography=2.7=pypi_0
cssselect=1.1.0=pypi_0
hyperlink=19.0.0=pypi_0
idna=2.8=pypi_0
incremental=17.5.0=pypi_0
lxml=4.4.1=pypi_0
openssl=1.1.1c=he774522_1
parsel=1.5.2=pypi_0
pip=19.1.1=py37_0
pyasn1=0.4.6=pypi_0
pyasn1-modules=0.2.6=pypi_0
pycparser=2.19=pypi_0
pydispatcher=2.0.5=pypi_0
pyhamcrest=1.9.0=pypi_0
pyopenssl=19.0.0=pypi_0
python=3.7.4=h5263a28_0
queuelib=1.5.0=pypi_0
scrapy=1.7.3=pypi_0
service-identity=18.1.0=pypi_0
setuptools=41.0.1=py37_0
six=1.12.0=pypi_0
sqlite=3.29.0=he774522_0
twisted=19.7.0=pypi_0
vc=14.1=h0510ff6_4
vs2015_runtime=14.15.26706=h3a45250_4
w3lib=1.21.0=pypi_0
wheel=0.33.4=py37_0
wincertstore=0.2=py37_0
zope-interface=4.6.0=pypi_0
